<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <div
            style="display:flex;justify-content: center;text-align: center; align-items: center; flex-direction: column;">
            <div>
                <% if(flash.error && flash.error.length> 0){ %>
                    <h5 style="color: red;">
                        <%= flash.error %>
                    </h5>

                    <%} %>
                        <% if(flash.success && flash.success.length> 0) {%>

                            <h5 style="color: green;">
                                <%= flash.success %>
                            </h5>

                            <% } %>
            </div>
            <form style="border: 2px solid black; border-radius: 5%;" action="/users/register" method="POST">
                <img style="margin-top: 2%;" width="30%"
                    src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/82b8d8efd3b0ac6382b9d0d71a99c6cf9dcefa23/img/avatar.svg">
                <div>
                    <h2 style="color: black;">Register here User</h2>
                </div>
                <div style="display: flex; flex-direction: column; margin: 0% 2%;">
                    <div class="input-div">
                        <label>Names</label>
                        <input class="input" type="text" id="name" name="name" required />
                    </div>
                    <div class="input-div border-bottom">
                        <div><i class="fas fa-user"></i>
                            <label>E Mail</label>
                        </div>
                        <input type="email" name="email" required>
                    </div>
                    <div class="input-div border-bottom">
                        <div><i class="fas fa-lock"></i>
                            <label>Password</label>
                        </div>
                        <input type="password" name="password" required>
                    </div>
                    <div class="input-div border-bottom">
                        <div><i class="fas fa-lock"></i>
                            <label>Confirm Password</label>
                        </div>
                        <input type="password" name="confirmPass" required>
                    </div>
                </div>
                <div>
                    <button class="btn" style="display: inline; margin: auto; width: 80%;" type="submit">
                        Register
                    </button>
                </div>
                <div style="margin-top: 5%;">
                    <p class="msg-s">Already a user? <a href="/users/sign-in">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>

</html>